In [12]:
import findspark
findspark.init('/usr/local/spark')
import pyspark
from pyspark.sql import SparkSession

In [13]:
spark=SparkSession.builder.appName("Python Spark SQL Example").getOrCreate()

In [14]:
customerDF=spark.read.load('/home/hduser/Downloads/customers.txt',format="csv",sep="\t",inferSchema="true",header="true")

In [15]:
customerDF.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zipcode: integer (nullable = true)

In [17]:
customerDF.select(customerDF["customer_name"]).show()

+----------------+
|   customer_name|
+----------------+
|     Mary Torres|
|      Jose Haley|
|      Mary Smith|
|  Richard Maddox|
|  Margaret Booth|
|  Mary Henderson|
|     Lisa Walker|
|   Jonathan Hill|
|Carolyn Sheppard|
|    Mary Mendoza|
|   Michael Smith|
|    James Holmes|
|     Mary Dawson|
|    Adam Marquez|
|    Gloria Smith|
|       Mary Webb|
|  Nancy Alvarado|
|  Russell Flores|
|    Denise Smith|
|  Jose Dickerson|
+----------------+
only showing top 20 rows

In [21]:
customerDF.select(customerDF['customer_name'],customerDF['customer_city']).show()

+----------------+-------------+
|   customer_name|customer_city|
+----------------+-------------+
|     Mary Torres|       Caguas|
|      Jose Haley|     Columbus|
|      Mary Smith|      Houston|
|  Richard Maddox|       Caguas|
|  Margaret Booth|    Arlington|
|  Mary Henderson|       Caguas|
|     Lisa Walker|       Caguas|
|   Jonathan Hill|      Phoenix|
|Carolyn Sheppard|Pompano Beach|
|    Mary Mendoza|       Caguas|
|   Michael Smith|       Caguas|
|    James Holmes|     Hilliard|
|     Mary Dawson|       Caguas|
|    Adam Marquez|  San Antonio|
|    Gloria Smith|       Caguas|
|       Mary Webb|   San Marcos|
|  Nancy Alvarado|     Flushing|
|  Russell Flores|       Caguas|
|    Denise Smith|    Rego Park|
|  Jose Dickerson|         Mesa|
+----------------+-------------+
only showing top 20 rows

In [23]:
customerDF.filter(customerDF['customer_state']=='CA').show()

+-----------+----------------+---------------+--------------+----------------+
|customer_id|   customer_name|  customer_city|customer_state|customer_zipcode|
+-----------+----------------+---------------+--------------+----------------+
|       5577|      Mary Smith|        Modesto|            CA|           95350|
|       1745|      Mary Smith|Rowland Heights|            CA|           91748|
|      11444|Kathleen Patrick|      San Diego|            CA|           92109|
|       8846|    Thomas Smith|          Indio|            CA|           92201|
|       6237|  Bobby Anderson|       El Cajon|            CA|           92020|
|       4085|       Mary Carr|  Panorama City|            CA|           91402|
|       8705|  Patricia Smith|       Stockton|            CA|           95207|
|       3669|       Mary Soto| San Bernardino|            CA|           92410|
|       6101|      Mary Smith|    Los Angeles|            CA|           90033|
|      11697|  Jessica Thomas|  Laguna Niguel|            CA|           92677|
|       1295|   Theresa Lopez|       Winnetka|            CA|           91306|
|       4814|     Paul Suarez|    Simi Valley|            CA|           93065|
|       8530|   William Smith|       Highland|            CA|           92346|
|       3846|    Ronald Lewis|        Ontario|            CA|           91764|
|      10476|     John Hodges|       Cerritos|            CA|           90703|
|      10243|  Donna Anderson|    Los Angeles|            CA|           90034|
|      11595|   Zachary Jones|        Modesto|            CA|           95355|
|        847|  Jerry Ferguson|      San Diego|            CA|           92102|
|       3440|    Mary Edwards|        Salinas|            CA|           93905|
|       3400|     Frank Lewis|  Moreno Valley|            CA|           92557|
+-----------+----------------+---------------+--------------+----------------+
only showing top 20 rows

In [24]:
customerDF.groupby('customer_state').count().show()

+--------------+-----+
|customer_state|count|
+--------------+-----+
|            AZ|   19|
|            SC|    2|
|            LA|    7|
|            MN|    1|
|            NJ|   19|
|            DC|    4|
|            OR|    4|
|            VA|   14|
|            RI|    2|
|            KY|    1|
|            MI|   28|
|            NV|   16|
|            WI|    9|
|            ID|    2|
|            CA|  187|
|            CT|    8|
|            NC|   19|
|            MD|   19|
|            DE|    1|
|            MO|   13|
+--------------+-----+
only showing top 20 rows

In [32]:
a=customerDF.groupby('customer_state').count()
a.show()
b=a.filter(a['count']>50)
b.show()

+--------------+-----+
|customer_state|count|
+--------------+-----+
|            AZ|   19|
|            SC|    2|
|            LA|    7|
|            MN|    1|
|            NJ|   19|
|            DC|    4|
|            OR|    4|
|            VA|   14|
|            RI|    2|
|            KY|    1|
|            MI|   28|
|            NV|   16|
|            WI|    9|
|            ID|    2|
|            CA|  187|
|            CT|    8|
|            NC|   19|
|            MD|   19|
|            DE|    1|
|            MO|   13|
+--------------+-----+
only showing top 20 rows

+--------------+-----+
|customer_state|count|
+--------------+-----+
|            CA|  187|
|            NY|   79|
|            TX|   62|
|            PR|  505|
+--------------+-----+

# Creating a temporary view for running SQL Queries

In [27]:
customerDF.createOrReplaceTempView("customers")

In [36]:
cStateCount50=spark.sql("Select customer_state, count(*) as state_count from customers group by customer_state having state_count>=50")
cStateCount50.show()

+--------------+-----------+
|customer_state|state_count|
+--------------+-----------+
|            CA|        187|
|            NY|         79|
|            TX|         62|
|            PR|        505|
+--------------+-----------+

In [35]:
type(cStateCount50)

pyspark.sql.dataframe.DataFrame

In [37]:
cStateCount50.printSchema()

root
 |-- customer_state: string (nullable = true)
 |-- state_count: long (nullable = false)

In [38]:
cStateCount50.coalesce(1).write.save("cStateCount50.parquet")

# cStateCount50.coalesce(1).write.save("cStateCount50",format='parquet')
#cStateCount50.coalesce(1).write.parquet("cStateCount50.parquet")

In [39]:
cStateCount50.coalesce(1).write.json("cStateCount50.json")

# loading Product file in json format

In [40]:
productDF=spark.read.load("/home/hduser/Downloads/products.json",format="json")

In [41]:
productDF.printSchema()

root
 |-- category_id: long (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- product_category: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- product_price: double (nullable = true)
 |-- product_quantity: long (nullable = true)
 |-- salestxn_id: long (nullable = true)

In [44]:
yelpDF=spark.read.load("/home/hduser/Downloads/sharedfolder/yelp_dataset",format="json")

In [43]:
yelpDF.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- average_stars: double (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_count: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- elite: string (nullable = true)
 |-- fans: long (nullable = true)
 |-- friends: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

In [46]:
yelpDF.createOrReplaceTempView("yelp")

In [52]:
yelp_data=spark.sql("select average_stars from yelp limit 20")
yelp_data.show()

+-------------+
|average_stars|
+-------------+
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
|         null|
+-------------+

In [53]:
productDF.select(productDF["product_name"]).show()

+--------------------+
|        product_name|
+--------------------+
|O'Brien Men's Neo...|
|O'Brien Men's Neo...|
|Under Armour Wome...|
|O'Brien Men's Neo...|
|Pelican Sunstream...|
|Nike Men's CJ Eli...|
|Diamondback Women...|
|Field & Stream Sp...|
|Perfect Fitness P...|
|Nike Men's CJ Eli...|
|Pelican Sunstream...|
|Nike Men's CJ Eli...|
|Diamondback Women...|
|Nike Men's CJ Eli...|
|Nike Men's Dri-FI...|
|O'Brien Men's Neo...|
|O'Brien Men's Neo...|
|Nike Men's Dri-FI...|
|Diamondback Women...|
|Under Armour Girl...|
+--------------------+
only showing top 20 rows

In [54]:
productDF.printSchema()

root
 |-- category_id: long (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- product_category: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- product_price: double (nullable = true)
 |-- product_quantity: long (nullable = true)
 |-- salestxn_id: long (nullable = true)

In [57]:
productDF.select(productDf['product_name'],productDF['product_category'],productDF['product_price']).show()

NameError: name 'productDf' is not defined

In [58]:
productDF.filter(productDF["product_price"]>=200).show()

+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|category_id|customer_id|  product_category|        product_name|product_price|product_quantity|salestxn_id|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|         42|        702| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     140220|
|         44|       3959|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      77426|
|         42|       5658| Bike & Skate Shop|Diamondback Women...|       299.98|               1|      84894|
|         42|       9356| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     102807|
|         42|       8651| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     134324|
|         44|      12072|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      27476|
|         42|       7830| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     154460|
|         42|       6995| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     109562|
|         42|      12428| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     172090|
|         44|       7013|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|       3516|
|         44|       9992|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|     150088|
|         42|       7816| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     164863|
|         44|      10300|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      32507|
|         44|       2152|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      50567|
|         44|        602|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      79804|
|         44|        685|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      68394|
|         44|       7396|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      45827|
|         42|      11165| Bike & Skate Shop|Diamondback Women...|       299.98|               1|      99392|
|         44|      11584|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      30107|
|         44|       6887|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|     108056|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
only showing top 20 rows

In [60]:
productDF.groupby("product_category").count().show()

+-------------------+-----+
|   product_category|count|
+-------------------+-----+
|  Training by Sport|    5|
|   Men's Golf Clubs|   21|
|   Camping & Hiking|   44|
|Fitness Accessories|   47|
|         Golf Shoes|    6|
|         Basketball|   36|
|        Electronics|   48|
|          Team Shop|  162|
|      Men's Apparel| 2085|
|  Bike & Skate Shop| 1377|
|  Golf Bags & Carts|   89|
|    As Seen on  TV!| 2399|
|       Boxing & MMA|  115|
| Hunting & Shooting| 1785|
|Baseball & Softball|    4|
|       Golf Apparel|   51|
| Women's Golf Clubs|   57|
|      Shop By Sport|   26|
|            Fishing| 1953|
|        Accessories|  110|
+-------------------+-----+
only showing top 20 rows

# Create temp view for running sql queries

In [72]:
productDF.createOrReplaceTempView("products")
#productDF.printSchema()

In [77]:
prd=spark.sql("select * from products")
prd.show()

+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|category_id|customer_id|  product_category|        product_name|product_price|product_quantity|salestxn_id|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|         45|      12080|           Fishing|O'Brien Men's Neo...|        49.98|               2|      98660|
|         45|      12279|           Fishing|O'Brien Men's Neo...|        49.98|               2|      97749|
|         12|       3343|      Boxing & MMA|Under Armour Wome...|        31.99|               4|     103889|
|         45|      12382|           Fishing|O'Brien Men's Neo...|        49.98|               5|      22751|
|         47|       5032|           Boating|Pelican Sunstream...|       199.99|               1|     129001|
|         17|       2663|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     165110|
|         42|        702| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     140220|
|         44|       3959|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      77426|
|         16|       1836|   As Seen on  TV!|Perfect Fitness P...|        59.99|               4|     101870|
|         17|       5212|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     131685|
|         47|       4037|           Boating|Pelican Sunstream...|       199.99|               1|     164177|
|         17|       7528|            Cleats|Nike Men's CJ Eli...|       129.99|               1|      78983|
|         42|       5658| Bike & Skate Shop|Diamondback Women...|       299.98|               1|      84894|
|         17|       6888|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     170683|
|         23|       7946|     Men's Apparel|Nike Men's Dri-FI...|         50.0|               3|      22083|
|         45|      10667|           Fishing|O'Brien Men's Neo...|        49.98|               1|      76014|
|         45|       9976|           Fishing|O'Brien Men's Neo...|        49.98|               5|      79165|
|         23|       4798|     Men's Apparel|Nike Men's Dri-FI...|         50.0|               1|      44574|
|         42|       9356| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     102807|
|         28|       8284|        Top Brands|Under Armour Girl...|        39.99|               1|     125420|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
only showing top 20 rows

In [78]:
prd200=spark.sql("select category_id , product_category, count(*) as prdcount from products where product_price>200 group by category_id,product_category order by product_category")

In [79]:
prd200.printSchema()

root
 |-- category_id: long (nullable = true)
 |-- product_category: string (nullable = true)
 |-- prdcount: long (nullable = false)

In [80]:
prd200.show()

+-----------+-------------------+--------+
|category_id|   product_category|prdcount|
+-----------+-------------------+--------+
|         40|        Accessories|       7|
|         16|    As Seen on  TV!|       6|
|          3|Baseball & Softball|       4|
|         42|  Bike & Skate Shop|    1377|
|         47|            Boating|       6|
|          9|   Cardio Equipment|       3|
|         37|        Electronics|       9|
|         34|  Golf Bags & Carts|      10|
|         44| Hunting & Shooting|    1785|
|         30|   Men's Golf Clubs|       5|
|         10|  Strength Training|       2|
|          6|   Tennis & Racquet|       3|
+-----------+-------------------+--------+

In [81]:
prd200.coalesce(1).write.save("prd200.parquet")

In [82]:
prd.show()

+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|category_id|customer_id|  product_category|        product_name|product_price|product_quantity|salestxn_id|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|         45|      12080|           Fishing|O'Brien Men's Neo...|        49.98|               2|      98660|
|         45|      12279|           Fishing|O'Brien Men's Neo...|        49.98|               2|      97749|
|         12|       3343|      Boxing & MMA|Under Armour Wome...|        31.99|               4|     103889|
|         45|      12382|           Fishing|O'Brien Men's Neo...|        49.98|               5|      22751|
|         47|       5032|           Boating|Pelican Sunstream...|       199.99|               1|     129001|
|         17|       2663|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     165110|
|         42|        702| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     140220|
|         44|       3959|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      77426|
|         16|       1836|   As Seen on  TV!|Perfect Fitness P...|        59.99|               4|     101870|
|         17|       5212|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     131685|
|         47|       4037|           Boating|Pelican Sunstream...|       199.99|               1|     164177|
|         17|       7528|            Cleats|Nike Men's CJ Eli...|       129.99|               1|      78983|
|         42|       5658| Bike & Skate Shop|Diamondback Women...|       299.98|               1|      84894|
|         17|       6888|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     170683|
|         23|       7946|     Men's Apparel|Nike Men's Dri-FI...|         50.0|               3|      22083|
|         45|      10667|           Fishing|O'Brien Men's Neo...|        49.98|               1|      76014|
|         45|       9976|           Fishing|O'Brien Men's Neo...|        49.98|               5|      79165|
|         23|       4798|     Men's Apparel|Nike Men's Dri-FI...|         50.0|               1|      44574|
|         42|       9356| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     102807|
|         28|       8284|        Top Brands|Under Armour Girl...|        39.99|               1|     125420|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
only showing top 20 rows

In [84]:
cust=spark.sql("select * from customers")
cust.show()

+-----------+----------------+-------------+--------------+----------------+
|customer_id|   customer_name|customer_city|customer_state|customer_zipcode|
+-----------+----------------+-------------+--------------+----------------+
|      11039|     Mary Torres|       Caguas|            PR|             725|
|       5623|      Jose Haley|     Columbus|            OH|           43207|
|       5829|      Mary Smith|      Houston|            TX|           77015|
|       6336|  Richard Maddox|       Caguas|            PR|             725|
|       1708|  Margaret Booth|    Arlington|            TX|           76010|
|      10227|  Mary Henderson|       Caguas|            PR|             725|
|        839|     Lisa Walker|       Caguas|            PR|             725|
|       7604|   Jonathan Hill|      Phoenix|            AZ|           85040|
|       6485|Carolyn Sheppard|Pompano Beach|            FL|           33063|
|       4737|    Mary Mendoza|       Caguas|            PR|             725|
|       5973|   Michael Smith|       Caguas|            PR|             725|
|       9205|    James Holmes|     Hilliard|            OH|           43026|
|        138|     Mary Dawson|       Caguas|            PR|             725|
|        371|    Adam Marquez|  San Antonio|            TX|           78223|
|       9285|    Gloria Smith|       Caguas|            PR|             725|
|       1209|       Mary Webb|   San Marcos|            TX|           78666|
|       3021|  Nancy Alvarado|     Flushing|            NY|           11354|
|       3354|  Russell Flores|       Caguas|            PR|             725|
|      11684|    Denise Smith|    Rego Park|            NY|           11374|
|      11144|  Jose Dickerson|         Mesa|            AZ|           85201|
+-----------+----------------+-------------+--------------+----------------+
only showing top 20 rows

In [88]:
custlist=spark.sql("select c.customer_name,p.product_category, count(*) as prdcount from customers c inner join products p on c.customer_id=p.customer_id where product_price>200 group by c.customer_name,p.product_category having prdcount>2")

In [89]:
custlist.printSchema()

root
 |-- customer_name: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- prdcount: long (nullable = false)

In [90]:
custlist.show()

+-------------+------------------+--------+
|customer_name|  product_category|prdcount|
+-------------+------------------+--------+
|William Smith|Hunting & Shooting|       3|
|   Mary Smith| Bike & Skate Shop|      22|
|   Mary Smith|Hunting & Shooting|      24|
+-------------+------------------+--------+