In [1]:
import findspark
findspark.init('/usr/local/spark')
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName("DataFrame practise 2").getOrCreate()

In [4]:
spark

In [5]:
df=spark.read.option("header","true").csv("/home/hduser/Downloads/sharedfolder/emp.csv",inferSchema="true")
df.show()

+------+----+----------+------+
|  Name| Age|Experience|salary|
+------+----+----------+------+
| Rohan|  30|         6| 10000|
|  Jaya|  25|         2| 35000|
| Kirti|  32|         7| 40000|
|Amrita|  28|         4| 25000|
| Mohit|  25|         5| 20000|
|  Jaya|  29|         2|160000|
|  null|null|      null|  null|
|  null|  34|      null| 24000|
|  null|null|      null|  null|
|  null|null|         6|  null|
+------+----+----------+------+

# Dropping the Column
#Dropping the Row

In [6]:
df.drop("Name").show()

+----+----------+------+
| Age|Experience|salary|
+----+----------+------+
|  30|         6| 10000|
|  25|         2| 35000|
|  32|         7| 40000|
|  28|         4| 25000|
|  25|         5| 20000|
|  29|         2|160000|
|null|      null|  null|
|  34|      null| 24000|
|null|      null|  null|
|null|         6|  null|
+----+----------+------+

# Dropping rows with null values

In [7]:
df.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|salary|
+------+---+----------+------+
| Rohan| 30|         6| 10000|
|  Jaya| 25|         2| 35000|
| Kirti| 32|         7| 40000|
|Amrita| 28|         4| 25000|
| Mohit| 25|         5| 20000|
|  Jaya| 29|         2|160000|
+------+---+----------+------+

In [9]:
## any=how
df.na.drop(how='all').show()

+------+----+----------+------+
|  Name| Age|Experience|salary|
+------+----+----------+------+
| Rohan|  30|         6| 10000|
|  Jaya|  25|         2| 35000|
| Kirti|  32|         7| 40000|
|Amrita|  28|         4| 25000|
| Mohit|  25|         5| 20000|
|  Jaya|  29|         2|160000|
|  null|  34|      null| 24000|
|  null|null|         6|  null|
+------+----+----------+------+

In [13]:
## threshold
df.na.drop(how='any',thresh=2).show()

+------+---+----------+------+
|  Name|Age|Experience|salary|
+------+---+----------+------+
| Rohan| 30|         6| 10000|
|  Jaya| 25|         2| 35000|
| Kirti| 32|         7| 40000|
|Amrita| 28|         4| 25000|
| Mohit| 25|         5| 20000|
|  Jaya| 29|         2|160000|
|  null| 34|      null| 24000|
+------+---+----------+------+

In [16]:
##subset
df.na.drop(how='any',subset=["Experience","Name"]).show()

+------+---+----------+------+
|  Name|Age|Experience|salary|
+------+---+----------+------+
| Rohan| 30|         6| 10000|
|  Jaya| 25|         2| 35000|
| Kirti| 32|         7| 40000|
|Amrita| 28|         4| 25000|
| Mohit| 25|         5| 20000|
|  Jaya| 29|         2|160000|
+------+---+----------+------+

In [20]:
## Filling the missing value
df.na.fill("Unkown value",["Name","Age","Experience"]).show()

+------------+----+----------+------+
|        Name| Age|Experience|salary|
+------------+----+----------+------+
|       Rohan|  30|         6| 10000|
|        Jaya|  25|         2| 35000|
|       Kirti|  32|         7| 40000|
|      Amrita|  28|         4| 25000|
|       Mohit|  25|         5| 20000|
|        Jaya|  29|         2|160000|
|Unkown value|null|      null|  null|
|Unkown value|  34|      null| 24000|
|Unkown value|null|      null|  null|
|Unkown value|null|         6|  null|
+------------+----+----------+------+

In [18]:
df.na.fill("Unkown value").show()

+------------+----+----------+------+
|        Name| Age|Experience|salary|
+------------+----+----------+------+
|       Rohan|  30|         6| 10000|
|        Jaya|  25|         2| 35000|
|       Kirti|  32|         7| 40000|
|      Amrita|  28|         4| 25000|
|       Mohit|  25|         5| 20000|
|        Jaya|  29|         2|160000|
|Unkown value|null|      null|  null|
|Unkown value|  34|      null| 24000|
|Unkown value|null|      null|  null|
|Unkown value|null|         6|  null|
+------------+----+----------+------+

In [21]:
from pyspark.ml.feature import Imputer
imputer=Imputer(inputCols=['Age','Experience','salary'],outputCols=["{}_imputed".format(c) for c in ['Age','Experience','salary']]).setStrategy("mean")

In [26]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('salary', 'int')]

In [ ]:
## add imputer columns to df
imputer.fit(df).transform(df).show()