In [2]:
import findspark
findspark.init("/usr/local/spark")
import pyspark 
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName("pyspark Hive Connect Example").config("spark.sql.warehouse.dir", "hdfs://localhost:54310/user/local/warehouse").enableHiveSupport().getOrCreate()

In [4]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|       mydb1|
+------------+

In [5]:
spark.sql("select * from mydb1.customers limit 5").show()

+-----------+--------------+-------------+---------------+----------------+
|customer_id| customer_name|customer_city|cuustomer_state|customer_zipcode|
+-----------+--------------+-------------+---------------+----------------+
|      11039|   Mary Torres|       Caguas|             PR|             725|
|       5623|    Jose Haley|     Columbus|             OH|           43207|
|       5829|    Mary Smith|      Houston|             TX|           77015|
|       6336|Richard Maddox|       Caguas|             PR|             725|
|       1708|Margaret Booth|    Arlington|             TX|           76010|
+-----------+--------------+-------------+---------------+----------------+

In [6]:
spark.sql("select * from mydb1.products limit 5").show()

+-----------+--------------------+------------+-------------+----------------+----------+
|customer_id|    product_category| product_nam|product_price|product_quantity|salestxnid|
+-----------+--------------------+------------+-------------+----------------+----------+
|      98660|O'Brien Men's Neo...|     Fishing|         45.0|              49|         2|
|      97749|O'Brien Men's Neo...|     Fishing|         45.0|              49|         2|
|     103889|Under Armour Wome...|Boxing & MMA|         12.0|              31|         4|
|      22751|O'Brien Men's Neo...|     Fishing|         45.0|              49|         5|
|     129001|Pelican Sunstream...|     Boating|         47.0|             199|         1|
+-----------+--------------------+------------+-------------+----------------+----------+

In [11]:
spark.sql("select * from mydb1.customers where customer_name like '%Rich%' limit 5").show()

+-----------+-----------------+-------------+---------------+----------------+
|customer_id|    customer_name|customer_city|cuustomer_state|customer_zipcode|
+-----------+-----------------+-------------+---------------+----------------+
|       6336|   Richard Maddox|       Caguas|             PR|             725|
|       9552|Richard Wilkerson|    Las Vegas|             NV|           89110|
|       1057|   Richard Haynes|      Hayward|             CA|           94544|
|       1989|    Richard Leach|       Caguas|             PR|             725|
|       8387|  Richard Fuentes|      Waipahu|             HI|           96797|
+-----------+-----------------+-------------+---------------+----------------+

In [12]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [13]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
|       mydb1|
+------------+

In [14]:
spark.sql("use mydb1").show()

++
||
++
++

In [15]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|   mydb1|customers|      false|
|   mydb1| products|      false|
+--------+---------+-----------+

In [25]:
priceGt40=spark.sql("select customer_name, customer_city,cuustomer_state,product_nam,product_price from mydb1.customers cu join mydb1.products p on cu.customer_id=p.customer_id where product_price>40")
df.show()

+----------------+-------------+---------------+------------------+-------------+
|   customer_name|customer_city|cuustomer_state|       product_nam|product_price|
+----------------+-------------+---------------+------------------+-------------+
|       Mary Webb|   San Marcos|             TX|           Boating|         47.0|
|Russell Peterson|      Greeley|             CO|           Boating|         47.0|
|      Mary Smith|      Phoenix|             AZ|Hunting & Shooting|         44.0|
|    George Smith|      Holland|             MI|           Fishing|         45.0|
|    Mary Leonard|       Caguas|             PR|           Boating|         47.0|
|   Mary Reynolds|       Caguas|             PR|           Fishing|         45.0|
|Madison Sheppard|      Chicago|             IL|Hunting & Shooting|         44.0|
| Philip Williams|       Caguas|             PR|           Boating|         47.0|
|     John Hodges|     Cerritos|             CA|           Boating|         47.0|
|      Mary Smith|       Caguas|             PR|Hunting & Shooting|         44.0|
|  Margaret Grant|     Toa Baja|             PR|           Fishing|         45.0|
|   Anna Mcdonald| Philadelphia|             PA| Bike & Skate Shop|         42.0|
|      Mary Owens|     Columbus|             OH|Hunting & Shooting|         44.0|
|     David Cantu|       Caguas|             PR| Bike & Skate Shop|         42.0|
| Gloria Marshall|    Hamtramck|             MI|Hunting & Shooting|         44.0|
|   Douglas James|    Sunnyvale|             CA| Bike & Skate Shop|         42.0|
|     Eric Ramsey|   Buena Park|             CA| Bike & Skate Shop|         42.0|
|      Mary Smith|     Brooklyn|             NY|           Boating|         47.0|
|      Mary Lopez|      Madison|             WI|           Fishing|         45.0|
|       Mary York|     Brooklyn|             NY|           Fishing|         45.0|
+----------------+-------------+---------------+------------------+-------------+
only showing top 20 rows

In [26]:
priceGt40.coalesce(1).write.save("/priceGt40.parquet")

NameError: name 'priceGt40' is not defined